.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px; /* Ensure equal margins on all sides */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  height: 250px; /* Fixed height for uniformity */
  box-sizing: border-box; /* Ensure padding and border are included in width and height */
  flex: 1 1 calc(33.333% - 64px); /* 3 cards by default, with margins included */
  max-width: 300px;
}

/* Media query for screens smaller than 768px (typical tablet size) */
@media (max-width: 768px) {
  .card {
    flex: 1 1 calc(40% - 64px); /* Adjust to 2 cards at 40% width on smaller screens */
    max-width: none; /* Remove the fixed max-width to allow for flexibility */
  }
}

/* Media query for even smaller screens (mobile) */
@media (max-width: 600px) {
  .card {
    flex: 1 1 calc(100% - 32px); /* Full width for smaller devices like phones */
    max-width: none;
    margin: 16px 0; /* Reduce side margins for more space */
  }
}


.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 4px;
  margin-bottom: 4px;
}

.card-body {
  padding: 4px 0;
  flex-grow: 1; /* Allow body to grow to fill available space */
  overflow-y: auto; /* Enable vertical scrolling */
}

.card-footer {
  text-align: right;
  margin-top: 4px;
}

.card-footer a {
  text-decoration: none;
  color: black;
  font-style: normal; /* Regular text */
}

.card-footer a:hover {
  font-style: italic; /* Italicize on hover */
}

.prize-amount {
  background-color: #e0e0e0;
  padding: 4px 8px;
  border-radius: 4px;
}
