
.fake-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 4px;
  margin-bottom: 4px;
}

.fake-card-body {
  padding: 4px 0;
  flex-grow: 1; /* Allow body to grow to fill available space */
  overflow-y: auto; /* Enable vertical scrolling */
}

.fake-card-footer {
  text-align: right;
  margin-top: 4px;
}

.prize-amount {
  background-color: #e0e0e0;
  padding: 4px 8px;
  border-radius: 4px;
}
