/* Main content container with filter and cards */
.main-content {
  display: flex;
  width: 100%;
  margin-top: 20px; /* Adjust if necessary to give space under the header */
}

/* Sidebar filter section */
.filter-section {
  width: 20%; /* Adjust width based on preference */
  background-color: #f4f4f4;
  padding: 10px;
  text-align: left;

  box-sizing: border-box;
  border-right: 1px solid #ddd;
}

.filter-section button {
  display: block;
  text-align: left;

  width: 100%;
  margin-bottom: 10px;
  font-size: 1em;
  padding: 8px;
}

/* Card container on the right */
.fake-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%; /* Adjust to complement the filter section */
  padding: 10px;
}

/* Individual card styles */
.fake-card-container > div {
  flex: 1 1 30%;
  max-width: 30%;
  margin: 10px;
  box-sizing: border-box;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 10px;
  font-size: 1em;
}

.card a {
  color: #4CAF50;
  font-weight: bold;
  text-decoration: none;
  margin-top: auto;
}

.card a:hover {
  text-decoration: underline;
}
